@font-face {
    font-family: W95FA;
    src: url('../src/W95FA.otf');
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
}

/* Scrollbar Styling for Webkit browsers */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border: 4px solid #2f2f2f;
}

::-webkit-scrollbar-track {
    background: #8c8c8c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a5a;
}

body {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;

    background-image: url("./warning.jpg")
}


.container {
    position: absolute;
    display: flex;
    height: 50vh;
    gap: 64px;
    bottom: 50px;
}