@font-face {
    font-family: W95FA;
    src: url('./src/W95FA.otf');
}


a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
}



@font-face {
    font-family: W95FA;
    src: url('../src/W95FA.otf');
}


a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 16px;
    /* Width of the vertical scrollbar */
    height: 16px;
    /* Height of the horizontal scrollbar */
}

/* The part of the scrollbar that the user can interact with (the handle) */
::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;

    /* Rounded edges */
    border: 4px solid #2f2f2f;
    /* Border around the thumb (retro blocky look) */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #8c8c8c;

    /* Match the thumb's border-radius */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a5a;
    /* Lighter grey when hovering over the thumb */
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #EEF4ED;
    overflow: hidden;
    font-family: 'W95FA', sans-serif;
    user-select: none;
    color: #0B2545;
}

#tooltip {
    position: fixed;
    pointer-events: none;
    /* let cursor pass through */
    background-color: #222;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
}

#overlay {
    position: absolute;
    top: 0;
    background-image: url('./src/dither.png');
    background-size: 80%;
    background-position: center;
    background-repeat: repeat;
    opacity: 0.1;

    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 48px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #8DA9C4;
    box-sizing: border-box;
    padding: 16px;

    font-family: 'W95FA', sans-serif;
}

.navButton {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    width: 24px;
    height: 16px;
    padding-bottom: 0.25em;
    background-color: white;
    border: 1px solid #0B2545;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);
    transition: transform 0.5s ease, visibility 1s ease;
}

#mainscreen {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    min-width: 98%;
    min-height: 90%;

    margin: 1%;
    padding: 1%;
    box-sizing: border-box;

    background-image: url("../src/pixelbackground.png");
    background-position: center;
    background-size: 30%;
    box-shadow: inset 0px 0px 5px 0px rgba(11, 37, 69, 0.75);

    overflow-x: hidden;
    /* margin-right: calc(-1 * (100vw - 100%)); */
}

#navbar,
#mainscreen {
    border: 1px solid #0B2545;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in-up {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#navbar,
#mainscreen {
    border: 1px solid #0B2545;
}

#titleText {
    font-family: 'Instrument Serif', serif;
    font-size: 64px;
    text-align: center;
    text-shadow: 1px 1px 2px #0B2545;
    transition: transform 1s ease;

}

.button {
    font-family: 'W95FA', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: white;
    border: 1px solid #0B2545;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);
    transition: transform 0.5s ease, visibility 1s ease;
}

.button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}


.button:active {
    transform: translateY(2px);
    background-color: #0B2545;
    color: white;
    box-shadow: inset -1px -1px 4px 0px rgba(255, 255, 255, 0.75);
}

#loginButton {
    width: fit-content;
}

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

#usernameContainer,
#passwordContainer {
    display: flex;
    gap: 16px;
    width: 100%;

}

#showPassword:hover {
    cursor: pointer;
}

input {
    border-radius: 0;
    padding-left: 2px;
    font-family: 'W95FA', sans-serif;
}

#passwordInput,
#usernameInput {
    pointer-events: none;
}

video {
    filter: contrast(0.9) brightness(1.2) saturate(0.8) blur(1px);
    /* image-rendering: pixelated; */
    border: 1px solid #0B2545;
}