@font-face {
    font-family: W95FA;
    src: url('../src/W95FA.otf');
}


a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 16px;
    /* Width of the vertical scrollbar */
    height: 16px;
    /* Height of the horizontal scrollbar */
}

/* The part of the scrollbar that the user can interact with (the handle) */
::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;

    /* Rounded edges */
    border: 4px solid #2f2f2f;
    /* Border around the thumb (retro blocky look) */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #8c8c8c;

    /* Match the thumb's border-radius */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a5a;
    /* Lighter grey when hovering over the thumb */
}



* {
    margin: 0;
    padding: 0;

}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #EEF4ED;
    overflow: hidden;
    font-family: 'W95FA', sans-serif;
    font-weight: lighter;
    user-select: none;
    color: #0B2545;
}

input {
    border-radius: 0;
    padding-left: 2px;
    font-family: 'W95FA', sans-serif;
}

video {
    filter: contrast(0.9) brightness(1.2) saturate(0.8) blur(1px);
    /* image-rendering: pixelated; */
    border: 1px solid #0B2545;
}

#tooltip {
    position: fixed;
    pointer-events: none;
    /* let cursor pass through */
    background-color: #222;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
}

#overlay,
#backgroundOverlay {
    position: absolute;
    top: 0;
    opacity: 0.1;

    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#overlay {
    background-image: url('../src/dither.png');
    background-size: 80%;
    background-position: center;
    background-repeat: repeat;
}

#backgroundOverlay {
    background-color: #0B2545;
    transition: all 0.5s ease;
    left: 0;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 48px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #8DA9C4;
    box-sizing: border-box;
    padding: 16px;

    font-family: 'W95FA', sans-serif;
}

.navButton {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    width: 24px;
    height: 16px;
    padding-bottom: 0.25em;
    background-color: white;
    border: 1px solid #0B2545;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);
    transition: transform 0.5s ease, visibility 1s ease;
}

#mainscreen {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: left;

    min-width: 98%;



    margin: 1%;
    padding: 1%;
    box-sizing: border-box;

    background-image: url("../src/pixelbackground.png");
    background-position: center;
    background-size: 30%;
    box-shadow: inset 0px 0px 5px 0px rgba(11, 37, 69, 0.75);

    overflow-x: hidden;
    /* margin-right: calc(-1 * (100vw - 100%)); */
}

#navbar,
#mainscreen {
    border: 1px solid #0B2545;
}

#headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerButton {
    width: 32px;
    height: 32px;
    transition: transform 0.5s ease
}

.headerButton:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

#mailbox {
    background-image: url('./src/mailAlert.png');

}

#profile {
    background-image: url('./src/robot.png');
}

#about {
    background-image: url('./src/about.png');

}

#date {
    min-width: fit-content;
    text-align: center;

    display: flex;
    justify-content: center;
}

#titleText {
    font-family: 'Instrument Serif', serif;
    font-size: 64px;
    text-align: left;
    text-shadow: 1px 1px 2px #0B2545;
    transition: transform 1s ease;

}

.button {
    font-family: 'W95FA', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: white;
    border: 1px solid #0B2545;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);
    transition: transform 0.5s ease, visibility 1s ease;
}

.button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}


.button:active {
    transform: translateY(2px);
    background-color: #0B2545;
    color: white;
    box-shadow: inset -1px -1px 4px 0px rgba(255, 255, 255, 0.75);
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translateX(-300%);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translateX(-300%);
    }
}

#announcementbar {
    display: flex;
    background: #13315C;
    overflow: hidden;
    background-color: rgba(#000, 0.9);

    box-sizing: content-box;
    min-width: 102%;
    min-height: 14px;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    padding: 4px;
}

.marqueeWrapper {
    overflow: hidden;
    position: relative;
}

.marquee {
    display: inline-flex;
    white-space: nowrap;
    box-sizing: content-box;
    width: 600px;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.marqueeItem {
    padding: 0 2rem;
    font-size: 1rem;
    color: white;

}

#musicButton {
    box-sizing: border-box;
    padding: 10px;
    background-color: #8DA9C4;
    min-width: 40px;
    height: 14px;
    background-image: url("./src/paused.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);
}

#musicButton:active {
    transform: translateY(1px);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in-side {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInSide 1s forwards;
}

@keyframes fadeInSide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulseScale {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}

.alert {
    animation: pulseScale 1s ease-in-out infinite;
}




#folderImageContainer {
    position: relative;
    display: grid;
    align-self: center;
    grid-template-rows: repeat(13, 1fr);
    min-width: 80%;
    min-height: 70%;
    max-height: 70%;
    max-width: 80%;
    bottom: 0;
    /* background-color: #0B2545; */
}

#folderImage0 {
    grid-row: 1 / 4;
}

#folderImage1 {
    grid-row: 2 / 6;
}

#folderImage2 {
    grid-row: 3 / 7;
}

#folderImage3 {
    grid-row: 4 / 8;

}

#folderImage4 {
    grid-row: 5 / 9;

}

#folderImage5 {
    grid-row: 6 / 10;
}

#folderImage6 {
    grid-row: 7/ 11;
}

#folderImage7 {
    grid-row: 8/ 12;
}

#folderImage8 {
    grid-row: 11/ 14;
}


.folderImage,
.folderBox {
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;

    border-radius: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, visibility 1s ease;
}

.folderImage:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

#mailOverlay {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #EEF4ED;
    border: 1px solid #0B2545;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);

    padding: 5vw 15vh;
    border-radius: 500px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

#mailHeader {
    width: 100%;
    height: 24px;
}

#closeMailbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;
    bottom: 20%;
    right: 20%;

    font-size: 64px;
    text-align: center;

    background-color: white;
    border: 1px solid #0B2545;
    box-shadow: inset -1px -1px 2px 1px rgba(11, 37, 69, 0.75);
}

#closeMailbox:hover {
    cursor: pointer;
}

.mailItem {
    position: absolute;
    /* border: 1px solid #0B2545; */

    box-shadow: -4px 4px 6px 4px rgba(11, 37, 69);
    image-rendering: pixelated;
    transition: transform 0.5s ease;
}

.mailItem:hover {
    transform: translateY(-4px);
    cursor: pointer;
    filter: invert(100%);
}

#mailItem1 {
    top: 15%;
    left: 10%;
    width: 120px;
    height: 200px;
    transform: rotate(-10deg);
    background-image: url('./src/joinnow.png');

}

#mailItem1:hover {
    transform: rotate(-10deg) translateY(-4px);
}


#mailItem2 {
    top: 10%;
    left: 25%;
    width: 150px;
    height: 200px;
    background-image: url('./src/letterfolder.png');
}

#mailItem3 {
    top: 45%;
    left: 10%;
    width: 200px;
    height: 200px;
    transform: rotate(-5deg);
    background-image: url('./src/sticky.png')
}

#mailItem3:hover {
    transform: rotate(-5deg) translateY(-4px);
}

#mailItem4 {
    top: 40%;
    left: 30%;
    width: 150px;
    height: 250px;
    transform: rotate(10deg);

    background-image: url('./src/flyer.png')
}

#mailItem4:hover {
    transform: rotate(10deg) translateY(-4px);
}

#mailItem5 {
    top: 65%;
    left: 35%;
    width: 200px;
    height: 150px;

    background-image: url('./src/postcard.png')
}

#mailContents {
    position: relative;
    width: 50%;
    height: 50%;
    left: 45%;

    padding: 1em;
    box-sizing: border-box;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: white;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);
    border: 1px solid #0B2545;

    white-space: pre-line;
}

.calloutText {
    padding: 1em;
    border: 1px solid #0B2545;
}

#aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#aboutText {
    text-align: center;
    white-space: pre-line;
    width: 50%;
}

#founder {
    max-width: 40%;
    max-height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-weight: bold;

    background-color: pink;
    border: 1px solid #0B2545;
    box-shadow: inset -1px -1px 4px 0px rgba(11, 37, 69, 0.75);

}

#founderImage {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;

}

.pageTitle {
    font-size: 24px;
}