@font-face {
    font-family: W95FA;
    src: url('../src/W95FA.otf');
}


* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'W95FA', sans-serif;
}

#mainvid {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;

    background: linear-gradient(to bottom, #c0c0c0, #a0a0a0);
    color: white;
    transition: transform 0.2s ease;
    transform: scale(0.6);
    opacity: 0;
    pointer-events: none;
    user-select: none;
    width: 20%;
    z-index: 3;

    padding: 8px 8px 8px 8px;
    border: 2px solid;
    border-color: #333 #808080 #808080 #333;
    box-shadow:
        inset 2px 2px #ffffff,
        /* top-left highlight */
        inset -2px -2px #808080,
        /* bottom-right shadow */
        inset -1px -1px #dfdfdf,
        /* inner top-left */
        inset 1px 1px #404040;
    /* inner bottom-right */
}

.close {
    text-align: center;
    border: 2px solid;

    border-color: #333 #808080 #808080 #333;

    padding: 0px 4px 0px 4px;
    box-sizing: border-box;
    width: fit-content;
    color: black;
    background: #a0a0a0;
    box-shadow:
        inset 2px 2px #ffffff,
        /* top-left highlight */
        inset -2px -2px #b6b6b6,
        /* bottom-right shadow */
        inset -1px -1px #dfdfdf,
        /* inner top-left */
        inset 1px 1px #7f7f7f;
    /* inner bottom-right */
}

.close:active {
    transform: translateY(2px);
}

.popup.show {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

#popup1 {
    top: 10%;
    right: 30%;
}

#popup2 {
    top: 50%;
    right: 25%;

    width: 20%;
}

#popup3 {
    top: 20%;
    right: 6%;
}

#popup4 {
    top: 45%;
    right: 10%;
}

#popup5 {
    top: 60%;
    left: 15%;
}

#popup6 {
    top: 55%;
    left: 40%;
}

#popup7 {
    top: 5%;
    right: 10%;
}

#popup8 {
    top: 5%;
    right: 10%;
}

#popup9 {
    top: 5%;
    left: 10%;
}

#popup10 {
    top: 52%;
    left: 5%;
}

#popup11 {
    top: 64%;
    left: 25%;
}


#popup12 {
    top: 3%;
    left: 5%;
}

#popup13 {
    top: 5%;
    left: 50%;
}

img {
    width: 100%;
    image-rendering: pixelated;
    image-resolution: 10dpi;
    pointer-events: none;
    border: 2px solid;
    border-color: #303030 #808080 #808080 #303030;
}

.popup:active {
    cursor: grabbing;
}

#subtitles {
    display: flex;
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 20%;
    color: rgb(215, 215, 215);
    background: black;
    text-shadow: #fff 0px 0px 3px;
    height: 55%;
    align-items: center;
    justify-content: center;
    padding: 16px 32px 16px 32px;
    box-sizing: border-box;
    z-index: 1;
}

#text {
    height: 100%;
    user-select: none;
    white-space: pre-line;
}