@font-face {
    font-family: W95FA;
    src: url('../src/W95FA.otf');
}


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    overflow: hidden;
    font-family: 'W95FA', sans-serif;
    width: 100%;
    height: 100%;
}

#mainvid {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;

    background: linear-gradient(to bottom, #8DA9C4, #6C8BA8);
    transition: transform 0.2s ease;
    transform: scale(0.6);
    opacity: 0;
    pointer-events: none;
    user-select: none;

    width: 20%;
    z-index: 3;

    padding: 8px 8px 8px 8px;
    border: 2px solid;
    /* same blue */
    color: black;
    font-family: 'W95FA', sans-serif;
    font-size: 16px;

    border: 4px solid #0B2545;
    border-top-color: #EEF4ED;
    /* light top */
    border-left-color: #EEF4ED;
    /* light left */
    border-right-color: #0B2545;
    /* dark right */
    border-bottom-color: #0B2545;
    /* dark bottom */
}

.close {
    text-align: center;
    border: 2px solid;

    border-color: #333 #808080 #808080 #333;

    padding: 0px 4px 0px 4px;
    box-sizing: border-box;
    width: fit-content;
    color: black;
    background: #a0a0a0;
    box-shadow:
        inset 2px 2px #ffffff,
        /* top-left highlight */
        inset -2px -2px #b6b6b6,
        /* bottom-right shadow */
        inset -1px -1px #dfdfdf,
        /* inner top-left */
        inset 1px 1px #7f7f7f;
    /* inner bottom-right */
}

.close:active {
    transform: translateY(2px);
}

.popup.show {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

#popup1 {
    top: 10%;
    right: 30%;
}

#popup2 {
    top: 49%;
    right: 25%;
    width: 20%;
}

#popup3 {
    top: 20%;
    right: 6%;
}

#popup4 {
    top: 45%;
    right: 10%;
}

#popup5 {
    top: 55%;
    left: 15%;
}

#popup6 {
    top: 55%;
    left: 40%;
}

#popup7 {
    top: 5%;
    right: 10%;
}

#popup8 {
    top: 5%;
    left: 50%;
}

#popup9 {
    top: 5%;
    left: 10%;
}

#popup10 {
    top: 52%;
    left: 5%;
}

#popup11 {
    top: 64%;
    left: 25%;
}

#popup12 {
    top: 3%;
    left: 5%;
}

#popup13 {
    top: 5%;
    left: 50%;
}

#popup14 {
    top: 15%;
    right: 20%;
}

#popup15 {
    top: 25%;
    left: 50%;
}

#popup16 {
    top: 35%;
    right: 15%;
}

#popup17 {
    top: 40%;
    left: 20%;
}

#popup18 {
    top: 67%;
    right: 5%;
}

#popup19 {
    top: 46%;
    left: 10%;
}

#popup20 {
    top: 50%;
    right: 25%;
}

img {
    width: 100%;
    image-rendering: pixelated;
    pointer-events: none;
    border: 2px solid;
    border-color: #303030 #808080 #808080 #303030;
}

.popup:active {
    cursor: grabbing;
}

#subtitles {
    display: flex;
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 20%;
    color: rgb(215, 215, 215);
    background: black;
    text-shadow: #fff 0px 0px 3px;
    height: 55%;
    align-items: center;
    justify-content: center;
    padding: 16px 32px 16px 32px;
    box-sizing: border-box;
    z-index: 1;
}

#text {
    height: 100%;
    user-select: none;
    white-space: pre-line;
}

.flicker {
    animation: flicker 1.5s infinite;
    text-shadow: 0 0 2px #EEF4ED;
}

@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        opacity: 1;
    }

    20%,
    24%,
    55% {
        opacity: 0.4;
    }
}

#finalFlash {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 98%;
    max-height: 98%;

    z-index: 999;

    opacity: 0;
    transition: opacity 0.1s ease
}